.compmodel{

}
.text-in{
  background-color: transparent;
  border-width: 0px 0px 2px 0px;
  border-color: #42dca3;
  color: #42dca3;
}

.number-in{
  background-color: transparent;
  border-width: 0px 0px 2px 0px;
  border-color: #42dca3;
  color: #42dca3;
}
.nopadding { !important
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
input[type=radio]{
  display: none;
}
input[type=radio]:checked + label{
  background-color: #42dca3;
  color: black;
}

#filesubmit{
  display: none;
}

#fileinput{
  display: none;
}
#fileinputoverlay{
}​

.instruction-text{
  margin-top: 20px;
  margin-bottom: 10px;
}

.instantimage{
  width: 20%;
  margin: 10px;
}
.instantimage:hover{
  margin: 5px;
  width: 30%;
}
